* {
  box-sizing: border-box;
}

:root {
  --body-color: #212529;

  --light-font-color: #fff;
  --dark-font-color: #212529;

  --accent-color: #ffb742;
  --not-accent-color: #d4d4d4;
  --hover-background-color: rgba(255, 183, 66, 0.5);

  --primary-font-family: "Inter", sans-serif;
  --secondary-font-family: "Poppins", sans-serif;
  --thrid-font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

button {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
}

body {
  background-color: var(--body-color);
  font-family: var(--sec-font-family);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */

  color: var(--light-font-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

header {
  padding: 40px 0px 40px 0px;
  margin-bottom: 68px;
}

.big-wrapper {
  /* max-width: 1340px; */
  width: 93%;
  margin: 0 auto;
}

.be-flex {
  display: flex;
  align-items: center;
}

.big-wrapper.be-flex {
  justify-content: space-between;
}

.be-flex ul {
  gap: 25px;
}

.hire-btn {
  background-color: var(--accent-color);
  padding: 12px 26px;
  border-radius: 50px;
  border: 2px solid var(--accent-color);
}

.hire-btn:hover {
  background-color: var(--hover-background-color);
  color: white;
  border: 2px solid transparent;
}

.nav-links {
  color: #fff;
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.nav-links:hover {
  color: var(--accent-color);
}
